
<div class="ng-cloak" style="align-content: center">
    <!--<div  id="chat-list" style="height:300px;overflow:auto">-->
    <div>
        <!-- Here come the messages in the chat, each one presented in card -->
        <div ng-repeat="m in chatCtrl.messageList" >
            <!-- This card prodives space for the message and Like/dislike buttons -->
            <div class="row">
                <div class="col s12 m5">
                    <div class="card border-success" >

                        <div class="card-header">
                          <div ng-if="chatCtrl.isReply(m.original_post)" ng-init="post_info=chatCtrl.lookUpOriginalPost(m.original_post)">
                            <a class="nav navbar-nav nav-link" href=""> Reply to: {{ post_info }}  </a>
                          </div>
                            <!-- Card Title is the person who write the message -->

                            <h4 class="card-title">{{m.uname}}</h4>
                              <a class="icon">  <i ng-click="chatCtrl.togglePostModal(m.postid)" class="fas fa-ellipsis-h"></i></a>
                              <a class="icon">
                                  <!-- TODO: Sometimes this ng-click doesn't get loaded into the page. Fix bug. could be cache.-->
                                  <i ng-click="chatCtrl.updateReplyTab(m.postid, m.uname, m.message)" class="fas fa-reply"> </i>
                              </a>
                            <h6> date posted: {{m.pdate}} </h6>
                        </div>

                        <div class="card-body">
                          <div class="card-img-container" ng-show="m.mediatype == 'p'">
                            <img class="card-img" ng-src="{{m.media}}"></img>
                          </div>
                            <div class="card-img-container" ng-show="m.mediatype == 'v'">
                            <video class="card-img" ng-src="{{m.media}}" controls></video>
                          </div>
                            <!-- Here comes the message text -->
                            <p> {{m.message}} </p>
                        </div>
                        <div class="card-footer">
                            <!-- TODO: figure out why the like/dislike buttons don't work without console on. -Brian -->
                            <button id="like_btn{{m.postid}}" class="btn btn-success mr-1 ml-2"
                                    ng-click="chatCtrl.pressLike(m)" ng-init="chatCtrl.isLiked(m)">
                                <i class="fas fa-thumbs-up"></i>
                            </button>
                            <a ng-bind="m.likes || '0'">  </a>
                            <button id="dislike_btn{{m.postid}}" class="btn btn-success mr-2 ml-2"
                                    ng-click="chatCtrl.pressDislike(m)" ng-init="chatCtrl.isDisliked(m)">
                                <i class="fas fa-thumbs-down"></i></button>
                            <a ng-bind="m.dislikes || '0'">  </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ng-cloak" ng-show="chatCtrl.isPostModalToggled">
  <div class = "modal-backdrop">
      <div id="successModal" class="modal fade show" tabindex="-1" role="dialog"
            aria-labelledby=myModalLabel" style="display:block; padding-left:12px;">

        <div class="modal-dialog modal-success" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"> Post Information </h2>
                </div>

                <div class="modal-body">
                  <p> {{ chatCtrl.postInformation[0].media }} </p>
                  <h4> {{ chatCtrl.postInformation[0].message }} </h4>
                  <p>  </p>
                  <h6> date posted : {{ chatCtrl.postInformation[0].pdate }} </h6>
                  <h6> Posted by : {{ chatCtrl.postInformation[0].uname }} </h6> </br>
                  <h4> Reactions: </h4>
                  <h6 ng-repeat="user in chatCtrl.postUserReaction" > {{user.uname}} : {{ user.rtype }} </br> </h6>
                </div>

                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button"
                    data-dismiss="modal" ng-click="chatCtrl.isPostModalToggled = false"> Close </button>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
