<div class="wrapper">
<div  class="sideBarContainer">
<div class="sidebar">
  <div class="sidebar-nav">
    <ul class="nav">
        <li class="nav-title-add" ng-click="groupCtrl.createGroup()">
          <span class="nav-title-add"> Add Group </span>
        <i class="fas fa-plus-square"></i>
        </li>

        <li class="nav-title"> Groups
        </li>

        <li ng-repeat="group in groupCtrl.groupList" class="nav-item" ng-click="chatCtrl.showPostsInGroup(group.GID)">
          <a class="nav-link">
            <img ng-src="{{ group.gPhoto || 'media/group_pics/succulenticon.jpg' }}" class="avatar img-avatar" ></img>
              {{ group.gName }}
              <i class="fas fa-angle-right" ng-click="groupCtrl.toggleBar(group.gName, group.GID)"></i>
            </a>
        </li>
    </ul>
  </div>

</div>
</div>

<div class="sideBarContainer" ng-show="groupCtrl.isBarToggled">
<div class="sidebar">
  <div class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item-user" >
          <a>  <img ng-src="{{ group.gPhoto || 'media/group_pics/succulenticon.jpg' }}" class="avatar img-avatar" ></img>
          </a>
        </li>

        <li class="nav-title-group">
         <span>{{groupCtrl.groupName}} </span>
          </li>

        <li class="nav-title"> Participants  </li>

        <li class="nav-title-add"> <span class="nav-title-add"> Add Participants </span>
          <i class="fas fa-plus-square"></i>
        </li>
    </ul>

  </div>
        <div class="sidebar-nav">
          <ul class="nav">
        <li ng-repeat="user in groupCtrl.groupUsersList" class="nav-item"
            ng-click="groupCtrl.showUserModalInfo(user.email, user.first_name, user.last_name, user.phone, user.uname)">
          <a class="nav-link">
            <img ng-src="media/profile_pics/corgi-monocle.jpg" class="avatar img-avatar" ></img>
              {{ user.uname }} </a>
        </li>
    </ul>
</div>


</div>
</div>


<div ng-show="groupCtrl.isUserModalToggled">
  <div class = "modal-backdrop">
  <div id="successModal" class="modal fade show" tabindex="-1" role="dialog"
        aria-labelledby=myModalLabel" style="display:block; padding-left:12px;">

    <div class="modal-dialog modal-success" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> User Information </h4>
      </div>
    <div class="modal-body">
      <h4> {{ groupCtrl.selected_u_uname }} </h4>
      <p> {{ groupCtrl.selected_u_fname }}  {{ groupCtrl.selected_u_lname }} </p>
      <p> {{ groupCtrl.selected_u_email }} </p>
      <p> {{ groupCtrl.selected_u_phone }} </p>
    </div>

    <div class="modal-footer">
      <button class="btn btn-secondary" type="button"
        data-dismiss="modal" ng-click="groupCtrl.isUserModalToggled = !groupCtrl.isUserModalToggled"> Close </button>
      </div>
    </div>

  </div>

  </div>
  </div>
  </div>
  </div>
