<div class="wrapper">
<div  class="sideBarContainer">
<div class="sidebar">
  <div class="sidebar-nav">
    <ul class="nav">
        <li class="nav-title-add" ng-click="groupCtrl.isNewGroupModalToggled = true">
          <span class="nav-title-add"> Add Group </span>
        <i class="fas fa-plus-square"></i>
        </li>

        <li class="nav-title"> Groups
        </li>

        <li ng-repeat="group in groupCtrl.groupList" class="nav-item" ng-click="chatCtrl.showPostsInGroup(group.GID, group.gName, group.gPhoto)">
          <a class="nav-link">
            <img ng-src="{{ group.gPhoto || 'media/group_pics/succulenticon.jpg' }}" class="avatar img-avatar" ></img>
              {{ group.gName }}
              <i class="fas fa-angle-right" ng-click="groupCtrl.toggleBar(group.gName, group.GID)"></i>
            </a>
        </li>
    </ul>
  </div>
</div>
</div>

<div class="sideBarContainer" ng-show="groupCtrl.isBarToggled">
<div class="sidebar">
  <div class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item-user" >
          <a>  <img ng-src="{{ group.gPhoto || 'media/group_pics/succulenticon.jpg' }}" class="avatar img-avatar" ></img>
          </a>
        </li>

        <li class="nav-title-group">
         <span>{{groupCtrl.groupName}} </span>
          </li>

        <li class="nav-title"> Participants  </li>

        <li class="nav-title-add"> <span class="nav-title-add"> Add Participants </span>
          <i class="fas fa-plus-square"></i>
        </li>
    </ul>

  </div>
        <div class="sidebar-nav">
          <ul class="nav">
        <li ng-repeat="user in groupCtrl.groupUsersList" class="nav-item"
            ng-click="groupCtrl.showUserModalInfo(user.email, user.first_name, user.last_name, user.phone, user.uname)" >
          <a class="nav-link">
            <img ng-src="media/profile_pics/corgi-monocle.jpg" class="avatar img-avatar" ></img>
              {{ user.uname }}
            <i class="fas fa-award" ng-show="user.isadmin"></i>
            </a>
        </li>
        <li class="nav-title-add" ng-show = "groupCtrl.isActiveUserAdmin">
            <span class="nav-title-add" > Delete Chat Group </span>
            <i class="fas fa-plus-square"></i>
        </li>
    </ul>
</div>


</div>
</div>


<div class="ng-cloak" ng-show="groupCtrl.isUserModalToggled">
  <div class = "modal-backdrop">
  <div id="successModal" class="modal fade show" tabindex="-1" role="dialog"
        aria-labelledby=myModalLabel" style="display:block; padding-left:12px;">

    <div class="modal-dialog modal-success" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> User Information </h4>
      </div>
    <div class="modal-body">
      <h3> {{ groupCtrl.selected_u_uname }} </h3></br>
      <p> name: {{ groupCtrl.selected_u_fname }}  {{ groupCtrl.selected_u_lname }} </p>
      <p> email: {{ groupCtrl.selected_u_email }} </p>
      <p> phone: {{ groupCtrl.selected_u_phone }} </p>
    </div>

    <div class="modal-footer">
      <button class="btn btn-secondary" type="button"
        data-dismiss="modal" ng-click="groupCtrl.isUserModalToggled = !groupCtrl.isUserModalToggled"> Close </button>
      </div>
    </div>

  </div>

  </div>
  </div>
  </div>
  </div>



    <!-- Create new group modal -->
      <div class="ng-cloak" ng-show="groupCtrl.isNewGroupModalToggled">
          <div class = "modal-backdrop">
              <div id="successModal" class="modal fade show" tabindex="-1" role="dialog"
                    aria-labelledby=myModalLabel" style="display:block; padding-left:12px;">
                  <div class="modal-dialog modal-success" role="document">

                    <div class="modal-content">
                      <div class="modal-header">
                         <h4 class="modal-title"> Create new group </h4>
                     </div>

                      <div class="modal-body">
                        <form class="form">

                        <div class="col-md-11">
                            <div class="form-group">
                                <input type="text" style="background:white" class="form-control" ng-model="group_name" placeholder="Group name" required="" maxlength="20" ng-change = "groupCtrl.groupAlreadyExistsError = false;"/>
                                <span class="text-danger" ng-show = groupCtrl.groupAlreadyExistsError>The group name {{group_name}} already exists in our system.</span>
                            </div>


                            <!-- Upload image not functional, and giving issues with uploading no image.-->
                            <div class="form-group">
                                <img ngf-thumbnail="groupPicFile"> <button class="btn btn-warning" ng-click="picFile = null" ng-show="groupPicFile">Remove</button></img>
                                <button class= "btn btn-success-send-bubble mr-2 ml-2" ngf-select ng-model="groupPicFile" name="file"
                                             accept="media/group_pics/*" ngf-max-size="2MB" required
                                             ngf-model-invalid="errorFile">

                                      <i class="far fa-image" >
                                  </i></button>
                            </div>

                            <div class="form-group">
                                <button type="submit" ng-click="groupCtrl.groupAlreadyExistsError = false; groupCtrl.createGroup(group_name, groupPicFile.name);"
                                        class="btn btn-login">Create</button>
                            </div>
                        </div>
                    </form>
                      </div>

                        <div class="modal-footer">
                             <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                     ng-click="groupCtrl.isNewGroupModalToggled = false"> Close </button>
                        </div>

                     </div>
                  </div>
              </div>
          </div>
      </div>
