<div class="sideBarContainer" ng-show="chatCtrl.userNavBarToggled">
        <div class="sidebar">
          <div class="sidebar-nav">
            <ul class="nav">
                <li class="nav-title"> Profile </li>
                <li class="nav-item-user" >
                    <a>
                    <img ng-src="{{'media/profile_pics/corgi-monocle.jpg' }}"
                     class="avatar img-avatar" ></img>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-title">{{chatCtrl.fullName}}</a>
                    <a class="nav-title">Username: {{chatCtrl.username}}</a>
                    <a class="nav-title">E-mail: {{chatCtrl.email}}</a>
                    <a class="nav-title">Phone: {{chatCtrl.phone}}</a>
                </li>

                <li class="nav-title"> Contacts </li>
                <li class="nav-title-add" ng-click="">
                  <span class="nav-title-add"> Add Contacts </span>
                <i class="fas fa-plus-square"></i>
                </li>
            </ul>
          </div>
          <div class="sidebar-nav">

            <ul class="nav">
              <li ng-repeat="contact in userNavCtrl.contactList" class="nav-item"
                  ng-click="userNavCtrl.showUserModalInfo(contact.email, contact.first_name, contact.last_name, contact.phone, contact.uname)" >
                <a class="nav-link">
                    <img ng-src="media/profile_pics/corgi-monocle.jpg"
                         class="avatar img-avatar" ></img>
                    {{ contact.uname }} </a>
              </li>
            </ul>
          </div>
        </div>

      <div class="ng-cloak" ng-show="userNavCtrl.isUserModalToggled">
          <div class = "modal-backdrop">
          <div id="successModal" class="modal fade show" tabindex="-1" role="dialog"
                aria-labelledby=myModalLabel" style="display:block; padding-left:12px;">

        <div class="modal-dialog modal-success" role="document">

          <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title"> User Information </h4>
              </div>

              <div class="modal-body">
                <h4> {{ userNavCtrl.selected_u_uname }} </h4>
                <p> name:    {{ userNavCtrl.selected_u_fname }}  {{ userNavCtrl.selected_u_lname }} </p>
                <p> email:   {{ userNavCtrl.selected_u_email }} </p>
                <p> phone:   {{ userNavCtrl.selected_u_phone }} </p>
              </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" type="button"
                data-dismiss="modal" ng-click="userNavCtrl.isUserModalToggled = !userNavCtrl.isUserModalToggled"> Close </button>
            </div>
          </div>

      </div>

        </div>
          </div>
          </div>
</div>
