<div class="sideBarContainer" ng-show="chatCtrl.userNavBarToggled">
        <div class="sidebar">
          <div class="sidebar-nav">
            <ul class="nav">
                <li class="nav-title"> Profile </li>
                <li class="nav-item-user" >
                    <a>
                    <img ng-src="{{'media/profile_pics/corgi-monocle.jpg' }}"
                     class="avatar img-avatar" ></img>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-title">{{chatCtrl.fullName}}</a>
                    <a class="nav-title">Username: {{chatCtrl.username}}</a>
                    <a class="nav-title">E-mail: {{chatCtrl.email}}</a>
                    <a class="nav-title">Phone: {{chatCtrl.phone}}</a>
                </li>

                <li class="nav-title"> Contacts </li>
                <li class="nav-title-add" ng-click="console.log('Clicked button'); userNavCtrl.isNewContactModalToggled = true;">
                  <span class="nav-title-add"> Add Contacts </span>
                <i class="fas fa-plus-square"></i>
                </li>
            </ul>
          </div>
          <div class="sidebar-nav">

            <ul class="nav">
              <li ng-repeat="contact in userNavCtrl.contactList" class="nav-item"
                  ng-click="userNavCtrl.showUserModalInfo(contact.email, contact.first_name, contact.last_name, contact.phone, contact.uname, contact.uid)" >
                <a class="nav-link">
                    <img ng-src="media/profile_pics/corgi-monocle.jpg"
                         class="avatar img-avatar" ></img>
                    {{ contact.uname }} </a>
              </li>
            </ul>
          </div>
        </div>

    <!-- Add new contact modal -->
      <div class="ng-cloak" ng-show="userNavCtrl.isNewContactModalToggled">
          <div class = "modal-backdrop">
              <div id="successModal" class="modal fade show" tabindex="-1" role="dialog"
                    aria-labelledby=myModalLabel" style="display:block; padding-left:12px;">
                  <div class="modal-dialog modal-success" role="document">

                    <div class="modal-content">
                      <div class="modal-header">
                         <h4 class="modal-title"> Add to your contacts </h4>
                     </div>

                      <div class="modal-body">
                        <form class="form">

                        <div class="col-md-11">
                            <div class="form-group">
                                <input type="text" style="background:white" class="form-control" ng-model="contact_first_name" placeholder="First Name" required=""/>
                            </div>

                            <div class="form-group">
                                <input type="text" style="background:white" class="form-control" ng-model="contact_last_name" placeholder="Last Name" required=""/>
                            </div>


                            <!-- Add Contact Form -->
                            <div class="form-group">
                                <input type="text" style="background:white" class="form-control" ng-model="contact_phone_email" placeholder="Phone number or E-mail" required=""  ng-change="userNavCtrl.contactNotFoundError = false;
                                                                                                                                                                                            userNavCtrl.contactSuccessfullyAdded = false;
                                                                                                                                                                                            userNavCtrl.alreadyContactWarning = false;"/>
                                <span class="text-success" ng-show = userNavCtrl.contactSuccessfullyAdded>Contact successfully added to your contacts list!.</span>
                                <span class="text-warning" ng-show = userNavCtrl.alreadyContactWarning>User is already in your contacts list.</span>
                                <span class="text-danger" ng-show = userNavCtrl.contactNotFoundError>No users were found with the information provided.</span>
                            </div>

                            <div class="form-group">
                                <button type="submit" ng-click="userNavCtrl.contactNotFoundError = false;
                                                                userNavCtrl.contactSuccessfullyAdded = false;
                                                                userNavCtrl.alreadyContactWarning = false;
                                                                userNavCtrl.addContact(contact_first_name, contact_last_name, contact_phone_email);"
                                        class="btn btn-login">Add</button>
                            </div>
                        </div>
                    </form>
                      </div>

                        <div class="modal-footer">
                             <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                     ng-click="userNavCtrl.isNewContactModalToggled = !userNavCtrl.isNewContactModalToggled"> Close </button>
                        </div>

                     </div>
                  </div>
              </div>
          </div>
      </div>

  <!-- Contact info modal -->
      <div class="ng-cloak" ng-show="userNavCtrl.isUserModalToggled">
          <div class = "modal-backdrop">
              <div id="successModal" class="modal fade show" tabindex="-1" role="dialog"
                    aria-labelledby=myModalLabel" style="display:block; padding-left:12px;">
                  <div class="modal-dialog modal-success" role="document">

                    <div class="modal-content">
                      <div class="modal-header">
                         <h4 class="modal-title"> User Information </h4>
                     </div>

                      <div class="modal-body">
                        <h4> {{ userNavCtrl.selected_u_uname }} </h4>
                        <p> name:    {{ userNavCtrl.selected_u_fname }}  {{ userNavCtrl.selected_u_lname }} </p>
                        <p> email:   {{ userNavCtrl.selected_u_email }} </p>
                        <p> phone:   {{ userNavCtrl.selected_u_phone }} </p>
                      </div>

                        <div class="modal-footer">
                             <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                     ng-click="userNavCtrl.isUserModalToggled = !userNavCtrl.isUserModalToggled"> Close </button>

                            <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                     ng-click="userNavCtrl.isDeleteUserModalToggled = true;
                                     userNavCtrl.isUserModalToggled = false;"> Delete </button>
                        </div>

                     </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Delete contact modal -->
     <div class="ng-cloak" ng-show="userNavCtrl.isDeleteUserModalToggled">
          <div class = "modal-backdrop">
              <div id="successModal" class="modal fade show" tabindex="-1" role="dialog"
                    aria-labelledby=myModalLabel" style="display:block; padding-left:12px;">
                  <div class="modal-dialog modal-success" role="document">

                    <div class="modal-content">
                      <div class="modal-header">
                         <h4 class="modal-title"> Delete Contact </h4>
                     </div>

                      <div class="modal-body">
                        <h4> Are you sure you want to delete {{ userNavCtrl.selected_u_uname }} ? </h4>
                        <p> name:    {{ userNavCtrl.selected_u_fname }}  {{ userNavCtrl.selected_u_lname }} </p>
                        <p> email:   {{ userNavCtrl.selected_u_email }} </p>
                        <p> phone:   {{ userNavCtrl.selected_u_phone }} </p>
                      </div>

                        <div class="modal-footer">
                             <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                     ng-click="userNavCtrl.isDeleteUserModalToggled = false;"> Cancel </button>

                            <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                     ng-click="userNavCtrl.deleteContact(userNavCtrl.selected_u_uid);
                                     userNavCtrl.isDeleteUserModalToggled = false;"> Delete </button>
                        </div>

                     </div>
                  </div>
              </div>
          </div>
      </div>


      <!-- Contact Successfully Deleted modal -->
      <div class="ng-cloak" ng-show="userNavCtrl.contactSuccessfullyDeleted">
          <div class = "modal-backdrop">
              <div id="successModal" class="modal fade show" tabindex="-1" role="dialog"
                    aria-labelledby=myModalLabel" style="display:block; padding-left:12px;">
                  <div class="modal-dialog modal-success" role="document">

                    <div class="modal-content">
                      <div class="modal-header">
                         <h4 class="modal-title"> Delete Contact </h4>
                     </div>

                      <div class="modal-body">
                        <h4>{{ userNavCtrl.selected_u_uname }} has been deleted from your contact list. </h4>
                      </div>

                        <div class="modal-footer">
                             <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                     ng-click="userNavCtrl.contactSuccessfullyDeleted = false;"> Close </button>
                        </div>

                     </div>
                  </div>
              </div>
          </div>
      </div>


</div>
